main {
	background: black;
	max-width: 500px;
	min-width: 300px;
	width: 30vw;
	margin: 50px auto;
	/* height: 20vh;
	max-height: 500px;
	min-height: 200px; */
}

main, input {
	border-radius: 4px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px;
}

label {
	margin: 15px 0 5px;
	font-size: 0.875rem;
}

input {
	border: none;
	width: 100%;
}

input[type='text'] {
	box-sizing: border-box;
	background: none;
	border: 1px solid #353535;
	padding: 8px;
}

input[type='submit'] {
	margin-top: 15px;
	background: var(--orange);
	padding: 7px;
	cursor: pointer;
	font-size: 0.8125rem;
}

input[type='submit']:hover {
	background: #eb5f07;
}

label, input[type='text'], input[type='submit']:hover {
	color: #eee;
}
