/* we have imported the required fonts from the google api  */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: inherit;
    transition: 0.2s;
}

body {
    background: var(--charcoal);
    color: var(--text);
}

/* we have declared the names of the colors that we are going to use.  */


:root {
    --charcoal: #313848;
    --yellow : #FEE715FF;
    --white : #fff;
    --black : black;
    --gray : gainsboro;
    --orange: #f89506;
    --darkGray: #1C1B24;
    --lightGray: #BFB7C7;

}

/* this is when we chnage the mode from dark to light or vice versa  */

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: 0.5s;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--charcoal);

}

.cod {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

section {
    padding: 150px 5%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.title {
    color: var(--charcoal);
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
    background: var(--orange);
    border-radius: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    border: solid;
}

.plots {
    height: 300px;
    width: 400px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    border: solid;
    border-color: red;
}

.lock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locked {
    margin-top: 20px;
    background: red;
    color: var(--white);
    border-color: red;
}

.unlock {
    margin-top: 20px;
    background: var(--white);
    color: var(--orange);
    cursor: pointer;
}

.unlock:hover {
    background: var(--charcoal);
    color: var(--white);
}

.main-container {
    height: 700px;
    /* width: 400px; */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    /* border: solid; */
    color: var(--orange);
}

.right-container {
    height: 300px;
    width: 400px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    border: solid;
    color: var(--orange);
}

.visitor-photo img {
    border-radius: 20px;
}

.audio-box {
    background: var(--darkGray);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    border-radius: 20px;
    width: 670px;
    padding: 30px 30px;
}

.in-audio {
    margin-right: 50px;
    color: var(--white);
}

.outgoing {
    background: var(--lightGray);
    margin-top: 20px;
    justify-content:flex-end;
}

.outgoing-audio {
    margin-right: 50px;
}

.out-audio {
    color: var(--black);
    margin-right: 30px;
}

.record-stop-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;    
    justify-content: center;
    align-items: center;
}

.record {
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
    color: green;
    border: solid;
}

.stop {
    padding: 10px 20px;
    border-radius: 20px;
    color: red;
    border: solid;
}



