:root {
	--charcoal: #313848;
	--orange: #f89506;
	--cyan: #5fadbf;
	--lightRed: #ff5153;
	--darkGray: #1C1B24;
	--lightGray: #BFB7C7;
	--darkPurple: #6718cf;
	--lightPurple: #9e77f3;
}

html, body {
	text-align: center;
	background: var(--charcoal);
	font-family: sans-serif;
	scrollbar-color: var(--orange);
	scrollbar-width: 5px;
}

section {
	max-width: 50%;
	margin: auto;
	min-width: 15em;
}

.title {
	color: var(--charcoal);
	font-size: 24px;
	font-weight: bolder;
	margin: 20px 0;
	margin-left: auto;
	margin-right: auto;
	background: var(--orange);
	border-radius: 20px;
	width: 250px;
	padding: 10px 15px;
	border: solid;
}

.image {
	object-fit: cover;
	border-radius: 20px;
	margin-bottom: 20px;
	border: solid;
	border-color: var(--orange);
}

.panel {
	margin: auto;
	background: var(--lightGray);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	padding: 25px 25px;
}

.controls {
	background: var(--darkGray);
}

button {
	border: none;
	border-radius: 20px;
	background: var(--lightPurple);
	padding: 10px 20px;
	width: 10vw;
	margin-top: 10px;
	min-width: 9em;
}

button:hover:not([disabled]) {
	background: var(--darkPurple);
	cursor: pointer;
}

#circle {
	margin-top: 30px;
}

.lock {
	width: 30px;
	height: 25px;
	border: 3px solid var(--cyan);
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.lock:after {
	content: "";
	display: block;
	background: var(--cyan);
	width: 3px;
	height: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3.5px 0 0 -2px;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.lock:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	bottom: 100%;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	border: 3px solid var(--cyan);
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom: 0;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

/* Locked Hover */
.lock:hover:before {
	height: 17px;
}

/* Unlocked */
.unlocked {
	transform: rotate(10deg);
}

.unlocked:before {
	bottom: 130%;
	left: 31%;
	margin-left: -11.5px;
	transform: rotate(-45deg);
}

.unlocked, .unlocked:before {
	border-color: var(--lightRed);
}

.unlocked:after {
	background: var(--lightRed);
}

/* Unlocked Hover */
.unlocked:hover:before {
	height: 15px;
}

.lock[disabled] {
	cursor: auto;
}

/* Audio */
audio {
	width: 100%;
	height: 3em;
}

/* Header */
header > img {
	max-width: 50%;
	min-width: 15em;
}

/* Medium screens */
@media only screen and (min-width: 500px) and (max-width: 900px) {
	section {
		max-width: 70%;
	}
}

/* Small screens */
@media only screen and (max-width: 500px) {
	section {
		max-width: 90%;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background-color: var(--orange);
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}

#circle {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	cursor: pointer;
}

.record {
	background: var(--lightRed);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='white'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3Crect fill='none' height='24' width='24'/%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cg/%3E%3Cg%3E%3Cpath d='M12 14c1.66 0 3-1.34 3-3V5c0-1.66-1.34-3-3-3S9 3.34 9 5v6C9 12.66 10.34 14 12 14z'/%3E%3Cpath d='M17 11c0 2.76-2.24 5-5 5s-5-2.24-5-5H5c0 3.53 2.61 6.43 6 6.92V21h2v-3.08c3.39-0.49 6-3.39 6-6.92H17z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}

.recording {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 6h12v12H6z'/%3E%3C/svg%3E");
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	99% {
		box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
