<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart Doorbell</title>
	<script defer src="{{url_for('static', filename='index.js')}}"></script>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
{#	<h1>Smart Doorbell</h1>#}
{#	<button id="unlock">Unlock</button>#}
{#	<audio controls>#}
{#		<source src="{{url_for('static', filename='out.wav')}}" type="audio/wav">#}
{#		Your browser does not support the audio tag.#}
{#	</audio>#}

    <header>
        <a><img src="../static/assets/doorbell_logo.png" alt="" class="cod"></a>
        <div class="menuIcon"><i class="fa-solid fa-bars fa-2xl"></i></div>
    </header>

</body>
</html>