<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart Doorbell</title>
	<script defer src="{{url_for('static', filename='index.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
	<h1>Smart Doorbell</h1>
	<button id="unlock">Unlock</button>
	<h1>Incoming</h1>
	<audio controls>
		<source src="{{url_for('static', filename='in.wav')}}" type="audio/wav">
		Your browser does not support the audio tag.
	</audio>
	<img src="{{url_for('static', filename='in.jpeg')}}" alt="a picture taken at the doorbell">
	<img src="{{url_for('static', filename='plot.jpeg')}}" alt="plot">
	<h1>Outgoing</h1>
	<button id="record">Record</button>
	<button id="stop">Stop</button>
    <div id="sound-clips"></div>
</body>
</html>

