<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Smart Doorbell</title>
	<link rel="icon" href="{{url_for('static', filename='assets/favicon.ico')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
	<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
	<header>
		<img id="logo" src="{{url_for('static', filename='assets/doorbell.png')}}" alt="logo">
		<img id="account" src="{{url_for('static', filename='assets/account.svg')}}" alt="account">
	</header>
	<main>
		<section>
			<img class="image" src="{{url_for('static', filename='assets/in.jpeg')}}" alt="a picture taken at the doorbell"><br>
			<div class="panel">
				<audio controls src="{{url_for('static', filename='assets/in.wav')}}" />
			</div>
		</section>
		<section>
			<div class="title">CONTROLS</div>
			<div class="panel controls">
				<span class="lock"></span>
				<button id="unlock">Unlock</button>
				<span id="circle" class="record"></span>
				<div>
					<button id="record">Record</button>
					<button id="stop" disabled>Stop</button>
				</div>
				<div id="sound-clip"></div>
			</div>
		</section>
		<section>
			<div class="title">ANALYTICS</div>
			<img class="image" src="{{url_for('static', filename='assets/days.jpeg')}}" alt="days">
			<img class="image" src="{{url_for('static', filename='assets/hours.jpeg')}}" alt="hours">
		</section>
	</main>
	<section id="form">
		<form name="edit" id="edit">
			<p id="edit">Edit</p>
			<label for="username">Username</label>
			<input type="text", id="username">
			<label for="password">Password</label>
			<input type="password" id="password">
			<div id="buttons">
				<input type="submit" value="Confirm", name="edit">
				<input type="button" value="Cancel", name="cancel">
			</div>
		</form>
	</section>
</body>
</html>
