<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<script defer src="{{url_for('static', filename='js/login.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header>
		<img id="logo" src="{{url_for('static', filename='assets/doorbell.png')}}" alt="logo">
	</header>
	<main id="form">
		<form name="login" id="login">
			<label for="username">Username</label>
			<input type="text", id="username">
			<label for="password">Password</label>
			<input type="password" id="password">
			<input type="submit" value="Login", name="login">
		</form>
	</main>
</body>
</html>