<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home|Smart Doorbell</title>
    <script src="https://kit.fontawesome.com/d5201e01cb.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header>
        <a><img src="../static/assets/smartDoorbell.png" alt="" class="cod"></a>
    </header>

    <section class="home" id="home">
        <div class="left">
            <div class="left-title">
                DATA ANALYSIS
            </div>
            <div>
                <a href=""><img class="plots" src="../static/assets/plot1.png" alt=""></a>
            </div>
            <div>
                <a href=""><img class="plots" src="../static/assets/plot2.png" alt=""></a>
            </div>

        </div>
        <div class="middle">
            Namaste
        </div>
        <div class="right">
            <img class="plots" src="../static/assets/plot2.png" alt="">
            <img class="plots" src="../static/assets/plot2.png" alt="">
        </div>
        
        
        </section>

</body>
</html>