<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home|Smart Doorbell</title>
    <script src="https://kit.fontawesome.com/d5201e01cb.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/index.js" defer></script>
</head>
<body>
    <header>
        <a><img src="../static/assets/smartDoorbell.png" alt="" class="cod"></a>
    </header>

    <section class="home" id="home">
        <div class="left">
            <div class="title">
                DATA ANALYSIS
            </div>
            <div>
                <a href=""><img class="plots" src="../static/assets/plot1.png" alt=""></a>
            </div>
            <div>
                <a href=""><img class="plots" src="../static/assets/plot2.png" alt=""></a>
            </div>

        </div>
        <div class="middle">
            
            <div class="main-container">
                <div class="lock">
                    <div class="title locked">
                        LOCKED
                    </div>
                    <div class="title unlock" id="unlock">
                        UNLOCK
                    </div>
                </div>

                <div class="audio-box">
                    <div class="in-audio">
                        Visitors Audio
                    </div>
                    <audio controls>
                        <source src="../static/assets/incoming_audio.wav" type="audio/wav">
                      Your browser does not support the audio element.
                      </audio>
                </div>

                <div class="audio-box outgoing">
                    
                    <audio controls class="outgoing-audio">
                        <source src="../static/assets/incoming_audio.wav" type="audio/wav">
                      Your browser does not support the audio element.
                    </audio>

                    <div class="out-audio">
                        Your Audio
                    </div>
                </div>
                
                <div class="record-stop-buttons">
                    <button class="record" id="record">Record</button>
                    <button class="stop" id="stop" disabled>Stop</button><br>
                </div>
                

            </div>
        </div>
        <div class="right">
            <div class="title">
                EXTRA INFO
            </div>
            <div>
                <a href=""><img class="plots" src="../static/assets/selfie.jpeg" alt=""></a>
            </div>
            <div class="right-container">

            </div>
        </div>
        
        
        </section>

</body>
</html>